/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 3px solid #FFF;
  }

/****************************************/

.rslides_container {
  position: relative;
  float: left;
  width: 100%;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.transparent-btns_nav:focus {
  outline: none;
  }

.transparent-btns_tabs {
  margin-top: 5px;
  text-align: center;
  }

.transparent-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.transparent-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.transparent-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }



/* Skills Bars */

.skimiler{width: 100%;}
.skiller {margin: 0;font-size: 16px;line-height: 2em;position: absolute;}
.col {width:100%;margin-top:1rem;}
.skills {list-style: none outside none;}
.skills li {background:#4B4D50;height: 23px;margin-bottom: 20px;width: 100%;}
.skills li small {display: block;padding: 0 8px 8px 8px;font-size: 0.6rem; line-height: 1.2rem;text-transform: uppercase;}
.skills li label { position:relative; top:-22px; color: #111;}
.skills span { color:#fff;}
.expand {background:#B2B536;height: 20px;position: absolute;right: 0;}
	#tool-skills .expand {background:#B2B536;height: 20px;position: absolute;left: 0;}

.html5       { width:100%; -moz-animation: html5 	2s ease-out; -webkit-animation: html5 	2s ease-out; }
.css3        { width: 90%; -moz-animation: css3 	2s ease-out; -webkit-animation: css3 	2s ease-out; }
.jquery      { width: 50%; -moz-animation: jquery 	2s ease-out; -webkit-animation: jquery 	2s ease-out; }
.php  		 { width: 40%; -moz-animation: php 		2s ease-out; -webkit-animation: php 	2s ease-out; }

.photoshop   { width: 20%; -moz-animation: photoshop   2s ease-out; -webkit-animation: photoshop   2s ease-out; }
.illustrator { width: 40%; -moz-animation: illustrator 2s ease-out; -webkit-animation: illustrator 2s ease-out; }
.wordpress   { width: 60%; -moz-animation: wordpress   2s ease-out; -webkit-animation: wordpress   2s ease-out; }
.gumby       { width: 50%; -moz-animation: gumby       2s ease-out; -webkit-animation: gumby       2s ease-out; }

@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width::90%;}	}
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width::50%;}	}
@-moz-keyframes php   		{ 0%  { width:0px;} 100%{ width::40%;}	}

@-moz-keyframes photoshop   { 0%  { width:0px;} 100%{ width::20%;}  }
@-moz-keyframes illustrator { 0%  { width:0px;} 100%{ width::40%;}	}
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width::60%;}	}
@-moz-keyframes gumby       { 0%  { width:0px;} 100%{ width::50%;}	}

@-webkit-keyframes html5       { 0%  { width:0px;} 100%{ width:100%;} }
@-webkit-keyframes css3        { 0%  { width:0px;} 100%{ width::90%;} }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width::50%;} }
@-webkit-keyframes php		   { 0%  { width:0px;} 100%{ width::40%;} }

@-webkit-keyframes photoshop   { 0%  { width:0px;} 100%{ width::20%;}  }
@-webkit-keyframes illustrator { 0%  { width:0px;} 100%{ width::40%;}	}
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width::60%;}	}
@-webkit-keyframes gumby       { 0%  { width:0px;} 100%{ width::50%;}	}
